body{
	background-color: black;
	padding-top: 40px; /* 60px to make the container go all the way to the bottom of the topbar */
}

#botton-content{
	background-color: #fff
}

.tag-line h1{
	color: #fff
}