

body {
margin: 0;
background-color: #fff;
background-repeat: no-repeat;  
}


#container  {
background-image: url(Pics/website-coming-soon.jpg);
background-repeat: no-repeat;
width: 1900px;
height: 1000px;  
margin-right: auto;
margin-left: auto; 
}







